@charset "utf-8";

.flex-col-area {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  width: 100%;
  height: 60px;
}

.alert-danger li {
  list-style: none;
}

/* index */
.blog-title {
  font-size: 22px;
}

.blog-title > a {
  color: rgb(127, 160, 185);
}